[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = ">=20.0,<21.0"
requests = ">=2.28,<3.0"
setuptools = ">=65.0,<66.0"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.11"